<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4"style="grid">
        <h1>Wedding Photo Gallery</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/Slide1.jpg" alt="Wedding Photo 1" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="~/images/Slide2.jpg" alt="Wedding Photo 2" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="~/images/Slide3.jpg" alt="Wedding Photo 3" class="img-fluid">
            </div 
            @* <div class="col-md-4"> *@
            @*     <img src="~/images/Photo gallery 4.jpg" alt="Wedding Photo 4" class="img-fluid"> *@
            @* </div  *@
            @* <div class="col-md-4"> *@
            @*     <img src="~/images/Photo gallery 5.jpg" alt="Wedding Photo 5" class="img-fluid"> *@
            @* </div *@
            @* <div class="col-md-4"> *@
            @*     <img src="~/images/Photo gallery 6.jpg" alt="Wedding Photo 6" class="img-fluid"> *@
            @* </div  *@
            @* <div class="col-md-4"> *@
            @*     <img src="~/images/Photo gallery 7.jpg" alt="Wedding Photo 7" class="img-fluid"> *@
            @* </div><div class="col-md-4"> *@
            @*     <img src="~/images/Photo gallery 8.jpg" alt="Wedding Photo 8" class="img-fluid"> *@
            @* </div> *@
            <!-- Add more photos as needed -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
